<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>芒果图库</title>
</head>
<body>
    <div th:include="public/header"></div>
    <div class="container" style="padding-bottom: 7%">
        <el-breadcrumb separator-class="el-icon-arrow-right" style="margin: 10px">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>图库</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row :gutter="20">
            <el-col :span="19">
                <el-row>
                    <el-col :span="5" style="margin: 10px" v-for="item in picturelist">
                        <el-card :body-style="{ padding: '5px' }">
                            <img :src="item.photo" class="image">
                            <div style="padding: 14px;">
                                <span>{{item.type}}</span>
                                <div class="bottom clearfix">
                                    <span class="time">{{item.pictureName}}</span>
                                    <span class="uid">{{item.uid}}</span>
                                </div>
                                <div class="bottom clearfix">
                                    <span class="time">{{item.creatTime}}</span>
                                    </span>
                                </div>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
                <div align="center">
                    <el-pagination
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page="currentPage"
                            :page-sizes="[5, 15, 20, 25, 30]"
                            :page-size="pagesize"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="page.totalCount">
                    </el-pagination>
                </div>
            </el-col>
            <el-col :span="5" style="margin-top: 10px">
                <el-card class="box-card">
                    <span class="demonstration">区分颜色</span>
                    <el-rate v-model="value2" :colors="['#99A9BF', '#F7BA2A', '#FF9900']">
                    </el-rate>
                </el-card>
                <el-card class="box-card">
                    <div id="cyHotnews" role="cylabs" data-use="hotnews"></div>
                </el-card>
            </el-col>
        </el-row>
        <div></div>
    </div>
    <div th:include="public/footer"></div>
</body>
<style>
    a:hover{
        cursor:pointer;
    }
    .uid{
        font-size: 13px;
        color: #999;
        float: right;
    }
    .time{
        font-size: 13px;
        color: #999;
    }
    .image {
        width: 100%;
        display: block;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }
</style>
<script>
    function getContextPath() {
        var host=window.location.host;
        var protocol=window.location.protocol;
        return protocol+"//"+host;
    }

    var vueData={
        picturelist : [],
        page: {},
        currentPage: 0,
        pagesize: 5,
        value2: null
    }
    var vueApp=new Vue({
        el: '.container',
        data: vueData,
        methods:{
            //每页显示数据量变更
            handleSizeChange: function(val) {
                this.pagesize = val;
                this.cartView(vueData.currentPage,vueData.pagesize);
            },

            //页码变更
            handleCurrentChange: function(val) {
                this.currentPage = val;
                this.cartView(vueData.currentPage,vueData.pagesize);
            },

            cartView: function (currentPage,pageSize) {

                if (currentPage == 0){
                    pageNo = 1;
                }else {
                    pageNo = currentPage;
                }
                $.ajax({
                    type: 'GET',
                    url: getContextPath()+'/picture/page',
                    data:{pageNo:pageNo,pageSize:pageSize},
                    dataType: "json",
                    success:function(result){
                        vueData.picturelist=result.list;
                        vueData.page.currentPage = result.pageNum;
                        vueData.page.totalCount = result.total;

                    }
                })
            }
        },
        mounted: function(){
            this.cartView(vueData.currentPage,vueData.pagesize);
        }
    })

</script>
</html>