<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .navbar-fixed-bottom .list-inline p{
            color: white;
        }
        .navbar-fixed-bottom .list-inline a{
            color: white;
        }
        .navbar-fixed-bottom .list-inline a:hover{ color: #FE8101; }
        .hr{
            color: white;
        }
    </style>
</head>
<body>
<footer class="footer navbar-fixed-bottom" style="background-color: #b7babd;margin: auto;">
        <div style="margin-top: 1%;">
            <ul class="list-inline text-center">
                <li><a href="#">关于我们</a></li>
                <span class="hr">|</span>
                <li><a href="#">广告合作</a></li>
                <span class="hr">|</span>
                <li><a href="#">友情链接</a></li>
                <span class="hr">|</span>
                <li><a href="*">招聘</a></li>
            </ul>
        </div>
        <hr style="margin-top: 0px;margin-bottom: 10px"/>
        <div>
            <ul class="list-inline text-center">
                <li><a href="http://www.miibeian.gov.cn/" target="_blank">豫ICP备17049975</a></li>
                <li class="footerTitle"></li>
            </ul>
        </div>

</footer>
</body>
</html>