<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .footer-bottom .list-inline p{
            color: white;
        }
        .footer-bottom .list-inline a{
            color: white;
        }
        .footer-bottom .list-inline a:hover{ color: #2aabd2; }
        .hr{
            color: white;
        }
    </style>
</head>
<body>
    <div class="row footer-bottom" style="background-color: #126bb9;margin: auto;">
        <div style="margin-top: 1%;">
            <ul class="list-inline text-center">
                <li><a href="#">关于我们</a></li>
                <span class="hr">|</span>
                <li><a href="#">广告合作</a></li>
                <span class="hr">|</span>
                <li><a href="#">友情链接</a></li>
                <span class="hr">|</span>
                <li><a href="*">招聘</a></li>
            </ul>
        </div>
            <hr style="margin-top: 0px;margin-bottom: 10px"/>
            <div>
                <ul class="list-inline text-center">
                    <li><a href="http://www.miibeian.gov.cn/" target="_blank">豫ICP备17049975</a></li>
                    <li class="footerTitle"></li>
                </ul>
            </div>
    </div>
</body>
</html>