<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>

</head>
<body>
    <div th:include="public/publicjs"></div>
    <div id="app">
        <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
            <el-menu-item index="1"><a th:href="@{picturepage}">风景</a></el-menu-item>
            <el-menu-item index="2">人物</el-menu-item>
            <el-menu-item index="3">微摄影</el-menu-item>
            <el-menu-item index="4">单反课堂</el-menu-item>
            <el-menu-item index="5">手机摄影</el-menu-item>
            <el-menu-item index="5"><a th:href="@{activitylist}">活动</a></el-menu-item>
            <el-menu-item index="6" style="margin-left: 50%;">
                <a href="#" style="font-weight: bold;color: #2aabd2">登陆</a>
            </el-menu-item>
            <el-menu-item index="7">
                <a href="#" style="font-weight: bold;color: #3e8f3e">注册</a>
            </el-menu-item>
        </el-menu>
    </div>
</body>
<script>
    var vueApp=new Vue({
        el:'#app',
        data:{
                activeIndex: '1',
                activeIndex2: '1'
            },
        methods: {
            handleSelect: function(key, keyPath) {
                console.log(key, keyPath);
            }
        }
    })
</script>
</html>